In [1]:
import pandas as pd
import numpy as np

Read Data

In [2]:
data = pd.read_csv("D:\Filechuan\dataset\DeliveryOrder.csv")
df = data.copy()
df

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken
0,0xe71,COIMBRES18DEL02,NaN,NaN,11.020910,76.940432,11.070910,76.990432,13-03-2022,NaN,22:55,Stormy,Low,1,Snack,motorcycle,1.0,No,Metropolitian,19
1,0x2bd8,VADRES14DEL01,27.0,4.6,22.311603,73.165012,22.381603,73.235012,27-03-2022,22:45,22:50,Windy,Low,2,Buffet,motorcycle,1.0,No,Urban,14
2,0xcbeb,AGRRES04DEL03,34.0,4.9,27.195928,77.998092,27.285928,78.088092,16-02-2022,23:35,23:45,Cloudy,Low,1,Buffet,motorcycle,1.0,No,Metropolitian,27
3,0xd988,BHPRES08DEL02,23.0,5.0,23.232537,77.429845,23.362537,77.559845,18-02-2022,18:50,18:55,Sandstorms,Medium,2,Snack,motorcycle,1.0,No,Metropolitian,21
4,0x5fb3,MYSRES11DEL01,39.0,4.8,12.323225,76.630028,12.393225,76.700028,23-03-2022,18:45,18:60,Stormy,Medium,0,Snack,motorcycle,3.0,No,Urban,49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45588,0x71de,INDORES20DEL03,25.0,4.7,22.732225,75.874765,22.762225,75.904765,24-03-2022,23:60,24:05,Cloudy,Low,2,Drinks,motorcycle,1.0,No,Metropolitian,14
45589,0x3654,BANGRES13DEL03,34.0,4.1,12.935662,77.614130,13.025662,77.704130,25-03-2022,20:50,20:55,Stormy,Jam,1,Meal,motorcycle,1.0,No,Metropolitian,35
45590,0x7082,MUMRES09DEL03,34.0,4.4,18.994049,72.825203,19.084049,72.915203,02-04-2022,21:15,21:25,Sandstorms,Jam,2,Meal,scooter,2.0,No,Urban,39
45591,0x68f4,INDORES18DEL01,32.0,4.0,22.753839,75.897429,22.763838,75.907429,05-03-2022,9:20,9:25,Windy,Low,0,Buffet,motorcycle,1.0,No,Metropolitian,24
45592,0x2b02,INDORES15DEL02,29.0,4.8,22.760072,75.892574,22.890072,76.022574,10-03-2022,17:50,17:55,Fog,Medium,1,Meal,scooter,1.0,No,Metropolitian,31

In [3]:
data1 = pd.read_csv("D:\Filechuan\dataset\Deliverydate.csv")
df1 = data1.copy()
df1

,order_id,Vehicle_no,Cost_of_the_Product,Quantity,fuel,name of vehicle,FREIGHT_FORWARDER,SENDERS_DATE,LOADING_DATE,DISCHARGE_DATE,DELIVERED_DATE,RECEIVERS_DATE,PREDICTED_DELIVERED_DATE,LAST_TRACKED_WITH_TRUCK,DELIVERED_FLAG
0,d792cb16214,KA590408,177,614,Diesel,Maruti Swift Dzire VDI,CIF,18/05/2021,27/05/2021,12/06/2021,24/06/2021,28/06/2021,05/07/2021,24/05/2021,1
1,0d7a144bdd3,TN30BC5917,216,174,Diesel,Skoda Rapid 15 TDI Ambition,CIF,18/05/2021,27/05/2021,12/06/2021,24/06/2021,28/06/2021,05/07/2021,24/05/2021,0
2,57da4fc703e,TN22AR2748,183,684,Petrol,Honda City 20172020 EXi,Axiom,11/04/2021,20/04/2021,06/05/2021,18/05/2021,22/05/2021,29/05/2021,17/04/2021,0
3,1b038114c75,TN28AQ0781,176,2532,Diesel,Hyundai i20 Sportz Diesel,LF,19/05/2021,28/05/2021,13/06/2021,25/06/2021,29/06/2021,06/07/2021,25/05/2021,1
4,bb4e55b4fd9,TN68F1722,184,789,Petrol,Maruti Swift VXI BSIII,CIF,18/05/2021,27/05/2021,12/06/2021,24/06/2021,28/06/2021,05/07/2021,24/05/2021,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,114dbb7d1d3,KA01D0911,272,2606,Diesel,Maruti Baleno Alpha 13,NaN,18/05/2021,27/05/2021,12/06/2021,24/06/2021,28/06/2021,05/07/2021,24/05/2021,0
9996,nkn87648,KA01D0911,265,274,Petrol,Honda Jazz VX,NaN,21/03/2021,30/03/2021,15/04/2021,27/04/2021,01/05/2021,08/05/2021,27/03/2021,0
9997,2547a700024,KA01D0911,180,1993,Diesel,Toyota Innova 25 VX (Diesel) 7 Seater,NaN,20/07/2021,29/07/2021,14/08/2021,26/08/2021,30/08/2021,06/09/2021,26/07/2021,0
9998,c5c64a26123,RJ42GA1977,187,2743,Petrol,Maruti Swift AMT VVT VXI,NaN,07/03/2021,16/03/2021,01/04/2021,13/04/2021,17/04/2021,24/04/2021,13/03/2021,0
9999,57f78c2d0d0,AP13X6669,158,2224,Petrol,Toyota Etios VX,NaN,18/04/2021,27/04/2021,13/05/2021,25/05/2021,29/05/2021,05/06/2021,24/04/2021,1

In [4]:
data2 = pd.read_csv("D:\Filechuan\dataset\FleetJourneyorderinfor.csv")
df2 = data2.copy()
df2

,order_id,order_id_date,vehicle_no,customer_id,PLACE_OF_SENDERS,PLACE_OF_RECEIVERS 1,PLACE_OF_RECEIVERS 2,PLACE_OF_RECEIVERS 3,Unnamed: 8
0,d792cb16214,15/05/2021,KA590408,72c00ba8bc7,New York,Chincoteague Island,Fort Wayne,Mesa,NaN
1,0d7a144bdd3,15/05/2021,TN30BC5917,b18a428ac77,San Jose,Exmore,Newark,Garland,NaN
2,57da4fc703e,8/4/2021,TN22AR2748,2fdd0374a03,Birmingham,Lawrenceville,Arlington,Scottsdale,NaN
3,1b038114c75,16/05/2021,TN28AQ0781,dc6358b12c3,San Jose,Midlothian,Fort Wayne,Plano,NaN
4,bb4e55b4fd9,15/05/2021,TN68F1722,c12e35b23ad,Boston,Virginia Beach,Baton Rouge,Garland,NaN
...,...,...,...,...,...,...,...,...,...
10015,57f78c2d0d17,2/5/2021,AP13X6686,NaN,San Jose,NaN,NaN,Garland,NaN
10016,57f78c2d0d18,3/5/2021,AP13X6687,NaN,San Jose,NaN,NaN,Garland,NaN
10017,57f78c2d0d19,4/5/2021,AP13X6688,NaN,San Jose,Johnson City,NaN,Garland,NaN
10018,57f78c2d0d20,5/5/2021,AP13X6689,NaN,San Jose,Johnson City,Charlotte,NaN,NaN
10019,57f78c2d0d21,6/5/2021,AP13X6690,NaN,San Jose,Johnson City,Charlotte,Garland,NaN

In [5]:
df.drop(['ID','Restaurant_latitude', 'Restaurant_longitude', 'Delivery_location_latitude', 'Delivery_location_longitude', 'Order_Date', 'Time_Orderd', 'Time_Order_picked','Type_of_order','Type_of_vehicle','multiple_deliveries','Festival','City'],axis=1,inplace=True)
df

,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Weather,Road_traffic_density,Vehicle_condition,Time_taken
0,COIMBRES18DEL02,NaN,NaN,Stormy,Low,1,19
1,VADRES14DEL01,27.0,4.6,Windy,Low,2,14
2,AGRRES04DEL03,34.0,4.9,Cloudy,Low,1,27
3,BHPRES08DEL02,23.0,5.0,Sandstorms,Medium,2,21
4,MYSRES11DEL01,39.0,4.8,Stormy,Medium,0,49
...,...,...,...,...,...,...,...
45588,INDORES20DEL03,25.0,4.7,Cloudy,Low,2,14
45589,BANGRES13DEL03,34.0,4.1,Stormy,Jam,1,35
45590,MUMRES09DEL03,34.0,4.4,Sandstorms,Jam,2,39
45591,INDORES18DEL01,32.0,4.0,Windy,Low,0,24
45592,INDORES15DEL02,29.0,4.8,Fog,Medium,1,31

In [6]:
df1.drop(['FREIGHT_FORWARDER','DELIVERED_FLAG','LAST_TRACKED_WITH_TRUCK','order_id'],axis=1,inplace=True)
df1

,Vehicle_no,Cost_of_the_Product,Quantity,fuel,name of vehicle,SENDERS_DATE,LOADING_DATE,DISCHARGE_DATE,DELIVERED_DATE,RECEIVERS_DATE,PREDICTED_DELIVERED_DATE
0,KA590408,177,614,Diesel,Maruti Swift Dzire VDI,18/05/2021,27/05/2021,12/06/2021,24/06/2021,28/06/2021,05/07/2021
1,TN30BC5917,216,174,Diesel,Skoda Rapid 15 TDI Ambition,18/05/2021,27/05/2021,12/06/2021,24/06/2021,28/06/2021,05/07/2021
2,TN22AR2748,183,684,Petrol,Honda City 20172020 EXi,11/04/2021,20/04/2021,06/05/2021,18/05/2021,22/05/2021,29/05/2021
3,TN28AQ0781,176,2532,Diesel,Hyundai i20 Sportz Diesel,19/05/2021,28/05/2021,13/06/2021,25/06/2021,29/06/2021,06/07/2021
4,TN68F1722,184,789,Petrol,Maruti Swift VXI BSIII,18/05/2021,27/05/2021,12/06/2021,24/06/2021,28/06/2021,05/07/2021
...,...,...,...,...,...,...,...,...,...,...,...
9995,KA01D0911,272,2606,Diesel,Maruti Baleno Alpha 13,18/05/2021,27/05/2021,12/06/2021,24/06/2021,28/06/2021,05/07/2021
9996,KA01D0911,265,274,Petrol,Honda Jazz VX,21/03/2021,30/03/2021,15/04/2021,27/04/2021,01/05/2021,08/05/2021
9997,KA01D0911,180,1993,Diesel,Toyota Innova 25 VX (Diesel) 7 Seater,20/07/2021,29/07/2021,14/08/2021,26/08/2021,30/08/2021,06/09/2021
9998,RJ42GA1977,187,2743,Petrol,Maruti Swift AMT VVT VXI,07/03/2021,16/03/2021,01/04/2021,13/04/2021,17/04/2021,24/04/2021
9999,AP13X6669,158,2224,Petrol,Toyota Etios VX,18/04/2021,27/04/2021,13/05/2021,25/05/2021,29/05/2021,05/06/2021

Data Processing

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Vehicle_no                10000 non-null  object
 1   Cost_of_the_Product       10000 non-null  int64
 2   Quantity                  10000 non-null  int64
 3   fuel                      10000 non-null  object
 4   name of vehicle           10000 non-null  object
 5   SENDERS_DATE              9999 non-null   object
 6   LOADING_DATE              10000 non-null  object
 7   DISCHARGE_DATE            10000 non-null  object
 8   DELIVERED_DATE            10000 non-null  object
 9   RECEIVERS_DATE            10000 non-null  object
 10  PREDICTED_DELIVERED_DATE  10000 non-null  object
dtypes: int64(2), object(9)
memory usage: 859.5+ KB

In [8]:
df2.drop(['Unnamed: 8'],axis=1,inplace=True)
df2

,order_id,order_id_date,vehicle_no,customer_id,PLACE_OF_SENDERS,PLACE_OF_RECEIVERS 1,PLACE_OF_RECEIVERS 2,PLACE_OF_RECEIVERS 3
0,d792cb16214,15/05/2021,KA590408,72c00ba8bc7,New York,Chincoteague Island,Fort Wayne,Mesa
1,0d7a144bdd3,15/05/2021,TN30BC5917,b18a428ac77,San Jose,Exmore,Newark,Garland
2,57da4fc703e,8/4/2021,TN22AR2748,2fdd0374a03,Birmingham,Lawrenceville,Arlington,Scottsdale
3,1b038114c75,16/05/2021,TN28AQ0781,dc6358b12c3,San Jose,Midlothian,Fort Wayne,Plano
4,bb4e55b4fd9,15/05/2021,TN68F1722,c12e35b23ad,Boston,Virginia Beach,Baton Rouge,Garland
...,...,...,...,...,...,...,...,...
10015,57f78c2d0d17,2/5/2021,AP13X6686,NaN,San Jose,NaN,NaN,Garland
10016,57f78c2d0d18,3/5/2021,AP13X6687,NaN,San Jose,NaN,NaN,Garland
10017,57f78c2d0d19,4/5/2021,AP13X6688,NaN,San Jose,Johnson City,NaN,Garland
10018,57f78c2d0d20,5/5/2021,AP13X6689,NaN,San Jose,Johnson City,Charlotte,NaN
10019,57f78c2d0d21,6/5/2021,AP13X6690,NaN,San Jose,Johnson City,Charlotte,Garland

In [9]:
df3= pd.concat([df2['order_id'], df,df1,df2['PLACE_OF_SENDERS'],df2['PLACE_OF_RECEIVERS 1']], axis=1)
df3

,order_id,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Weather,Road_traffic_density,Vehicle_condition,Time_taken,Vehicle_no,Cost_of_the_Product,...,fuel,name of vehicle,SENDERS_DATE,LOADING_DATE,DISCHARGE_DATE,DELIVERED_DATE,RECEIVERS_DATE,PREDICTED_DELIVERED_DATE,PLACE_OF_SENDERS,PLACE_OF_RECEIVERS 1
0,d792cb16214,COIMBRES18DEL02,NaN,NaN,Stormy,Low,1,19,KA590408,177.0,...,Diesel,Maruti Swift Dzire VDI,18/05/2021,27/05/2021,12/06/2021,24/06/2021,28/06/2021,05/07/2021,New York,Chincoteague Island
1,0d7a144bdd3,VADRES14DEL01,27.0,4.6,Windy,Low,2,14,TN30BC5917,216.0,...,Diesel,Skoda Rapid 15 TDI Ambition,18/05/2021,27/05/2021,12/06/2021,24/06/2021,28/06/2021,05/07/2021,San Jose,Exmore
2,57da4fc703e,AGRRES04DEL03,34.0,4.9,Cloudy,Low,1,27,TN22AR2748,183.0,...,Petrol,Honda City 20172020 EXi,11/04/2021,20/04/2021,06/05/2021,18/05/2021,22/05/2021,29/05/2021,Birmingham,Lawrenceville
3,1b038114c75,BHPRES08DEL02,23.0,5.0,Sandstorms,Medium,2,21,TN28AQ0781,176.0,...,Diesel,Hyundai i20 Sportz Diesel,19/05/2021,28/05/2021,13/06/2021,25/06/2021,29/06/2021,06/07/2021,San Jose,Midlothian
4,bb4e55b4fd9,MYSRES11DEL01,39.0,4.8,Stormy,Medium,0,49,TN68F1722,184.0,...,Petrol,Maruti Swift VXI BSIII,18/05/2021,27/05/2021,12/06/2021,24/06/2021,28/06/2021,05/07/2021,Boston,Virginia Beach
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45588,NaN,INDORES20DEL03,25.0,4.7,Cloudy,Low,2,14,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45589,NaN,BANGRES13DEL03,34.0,4.1,Stormy,Jam,1,35,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45590,NaN,MUMRES09DEL03,34.0,4.4,Sandstorms,Jam,2,39,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45591,NaN,INDORES18DEL01,32.0,4.0,Windy,Low,0,24,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45592,NaN,INDORES15DEL02,29.0,4.8,Fog,Medium,1,31,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45593 entries, 0 to 45592
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   order_id                  10020 non-null  object
 1   Delivery_person_ID        45593 non-null  object
 2   Delivery_person_Age       43739 non-null  float64
 3   Delivery_person_Ratings   43685 non-null  float64
 4   Weather                   44977 non-null  object
 5   Road_traffic_density      44992 non-null  object
 6   Vehicle_condition         45593 non-null  int64
 7   Time_taken                45593 non-null  int64
 8   Vehicle_no                10000 non-null  object
 9   Cost_of_the_Product       10000 non-null  float64
 10  Quantity                  10000 non-null  float64
 11  fuel                      10000 non-null  object
 12  name of vehicle           10000 non-null  object
 13  SENDERS_DATE              9999 non-null   object
 14  LOADING_DATE              10000 non-null  object
 15  DISCHARGE_DATE            10000 non-null  object
 16  DELIVERED_DATE            10000 non-null  object
 17  RECEIVERS_DATE            10000 non-null  object
 18  PREDICTED_DELIVERED_DATE  10000 non-null  object
 19  PLACE_OF_SENDERS          10020 non-null  object
 20  PLACE_OF_RECEIVERS 1      10014 non-null  object
dtypes: float64(4), int64(2), object(15)
memory usage: 7.7+ MB

In [11]:
df3=df3.drop(index=df3.index[10000:45593])

In [12]:
df3 = df3.reset_index(drop=True)
df3

,order_id,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Weather,Road_traffic_density,Vehicle_condition,Time_taken,Vehicle_no,Cost_of_the_Product,...,fuel,name of vehicle,SENDERS_DATE,LOADING_DATE,DISCHARGE_DATE,DELIVERED_DATE,RECEIVERS_DATE,PREDICTED_DELIVERED_DATE,PLACE_OF_SENDERS,PLACE_OF_RECEIVERS 1
0,d792cb16214,COIMBRES18DEL02,NaN,NaN,Stormy,Low,1,19,KA590408,177.0,...,Diesel,Maruti Swift Dzire VDI,18/05/2021,27/05/2021,12/06/2021,24/06/2021,28/06/2021,05/07/2021,New York,Chincoteague Island
1,0d7a144bdd3,VADRES14DEL01,27.0,4.6,Windy,Low,2,14,TN30BC5917,216.0,...,Diesel,Skoda Rapid 15 TDI Ambition,18/05/2021,27/05/2021,12/06/2021,24/06/2021,28/06/2021,05/07/2021,San Jose,Exmore
2,57da4fc703e,AGRRES04DEL03,34.0,4.9,Cloudy,Low,1,27,TN22AR2748,183.0,...,Petrol,Honda City 20172020 EXi,11/04/2021,20/04/2021,06/05/2021,18/05/2021,22/05/2021,29/05/2021,Birmingham,Lawrenceville
3,1b038114c75,BHPRES08DEL02,23.0,5.0,Sandstorms,Medium,2,21,TN28AQ0781,176.0,...,Diesel,Hyundai i20 Sportz Diesel,19/05/2021,28/05/2021,13/06/2021,25/06/2021,29/06/2021,06/07/2021,San Jose,Midlothian
4,bb4e55b4fd9,MYSRES11DEL01,39.0,4.8,Stormy,Medium,0,49,TN68F1722,184.0,...,Petrol,Maruti Swift VXI BSIII,18/05/2021,27/05/2021,12/06/2021,24/06/2021,28/06/2021,05/07/2021,Boston,Virginia Beach
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,960387648,COIMBRES14DEL01,23.0,5.0,Sunny,Low,1,23,KA01D0911,272.0,...,Diesel,Maruti Baleno Alpha 13,18/05/2021,27/05/2021,12/06/2021,24/06/2021,28/06/2021,05/07/2021,New York,Johnson City
9996,2547a700024,HYDRES06DEL02,34.0,4.1,Sandstorms,Low,0,25,KA01D0911,265.0,...,Petrol,Honda Jazz VX,21/03/2021,30/03/2021,15/04/2021,27/04/2021,01/05/2021,08/05/2021,San Jose,Johnson City
9997,c5c64a26123,VADRES19DEL01,22.0,4.8,Fog,Medium,1,33,KA01D0911,180.0,...,Diesel,Toyota Innova 25 VX (Diesel) 7 Seater,20/07/2021,29/07/2021,14/08/2021,26/08/2021,30/08/2021,06/09/2021,Birmingham,Johnson City
9998,57f78c2d0d0,BANGRES07DEL01,22.0,4.3,Cloudy,Jam,2,42,RJ42GA1977,187.0,...,Petrol,Maruti Swift AMT VVT VXI,07/03/2021,16/03/2021,01/04/2021,13/04/2021,17/04/2021,24/04/2021,San Jose,Johnson City
9999,57f78c2d0d1,KOCRES20DEL02,34.0,4.9,Fog,Medium,2,15,AP13X6669,158.0,...,Petrol,Toyota Etios VX,18/04/2021,27/04/2021,13/05/2021,25/05/2021,29/05/2021,05/06/2021,San Jose,Johnson City

In [13]:
mean1 = df3[df3['Delivery_person_Age'] != np.nan]['Delivery_person_Age'].mean()
# Thay thế giá trị np.nan bằng giá trị trung bình của cột
df3['Delivery_person_Age'] = df['Delivery_person_Age'].replace(np.nan, mean1)
mean2 = df3[df3['Delivery_person_Ratings'] != np.nan]['Delivery_person_Ratings'].mean()
# Thay thế giá trị np.nan bằng giá trị trung bình của cột
df3['Delivery_person_Ratings'] = df['Delivery_person_Ratings'].replace(np.nan, mean2)
# Thay thế giá trị nan bằng giá trị xuất hiện nhiều nhất trong cột 
df3['Weather'] = df3['Weather'].replace(np.nan, 'Cloudy')
df3['Road_traffic_density'] = df3['Road_traffic_density'].replace(np.nan, 'Low')
df3['Vehicle_no'] = df3['Vehicle_no'].replace(np.nan, 'KA590408')
df3['Cost_of_the_Product'] = df3['Cost_of_the_Product'].replace(np.nan, 177)
df3['Quantity'] = df3['Quantity'].replace(np.nan, 614)
df3['fuel'] = df3['fuel'].replace(np.nan, 'Diesel')
df3['name of vehicle'] = df3['name of vehicle'].replace(np.nan, 'Maruti Swift Dzire VDI')
df3['SENDERS_DATE'] = df3['SENDERS_DATE'].replace(np.nan, '18/05/2021')
df3['LOADING_DATE'] = df3['LOADING_DATE'].replace(np.nan, '27/05/2021')
df3['DISCHARGE_DATE'] = df3['DISCHARGE_DATE'].replace(np.nan, '12/06/2021')
df3['DELIVERED_DATE'] = df3['DELIVERED_DATE'].replace(np.nan, '24/06/2021')
df3['RECEIVERS_DATE'] = df3['RECEIVERS_DATE'].replace(np.nan, '28/06/2021')
df3['PREDICTED_DELIVERED_DATE'] = df3['PREDICTED_DELIVERED_DATE'].replace(np.nan, '05/07/2021')
df3

,order_id,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Weather,Road_traffic_density,Vehicle_condition,Time_taken,Vehicle_no,Cost_of_the_Product,...,fuel,name of vehicle,SENDERS_DATE,LOADING_DATE,DISCHARGE_DATE,DELIVERED_DATE,RECEIVERS_DATE,PREDICTED_DELIVERED_DATE,PLACE_OF_SENDERS,PLACE_OF_RECEIVERS 1
0,d792cb16214,COIMBRES18DEL02,29.574843,4.634653,Stormy,Low,1,19,KA590408,177.0,...,Diesel,Maruti Swift Dzire VDI,18/05/2021,27/05/2021,12/06/2021,24/06/2021,28/06/2021,05/07/2021,New York,Chincoteague Island
1,0d7a144bdd3,VADRES14DEL01,27.000000,4.600000,Windy,Low,2,14,TN30BC5917,216.0,...,Diesel,Skoda Rapid 15 TDI Ambition,18/05/2021,27/05/2021,12/06/2021,24/06/2021,28/06/2021,05/07/2021,San Jose,Exmore
2,57da4fc703e,AGRRES04DEL03,34.000000,4.900000,Cloudy,Low,1,27,TN22AR2748,183.0,...,Petrol,Honda City 20172020 EXi,11/04/2021,20/04/2021,06/05/2021,18/05/2021,22/05/2021,29/05/2021,Birmingham,Lawrenceville
3,1b038114c75,BHPRES08DEL02,23.000000,5.000000,Sandstorms,Medium,2,21,TN28AQ0781,176.0,...,Diesel,Hyundai i20 Sportz Diesel,19/05/2021,28/05/2021,13/06/2021,25/06/2021,29/06/2021,06/07/2021,San Jose,Midlothian
4,bb4e55b4fd9,MYSRES11DEL01,39.000000,4.800000,Stormy,Medium,0,49,TN68F1722,184.0,...,Petrol,Maruti Swift VXI BSIII,18/05/2021,27/05/2021,12/06/2021,24/06/2021,28/06/2021,05/07/2021,Boston,Virginia Beach
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,960387648,COIMBRES14DEL01,23.000000,5.000000,Sunny,Low,1,23,KA01D0911,272.0,...,Diesel,Maruti Baleno Alpha 13,18/05/2021,27/05/2021,12/06/2021,24/06/2021,28/06/2021,05/07/2021,New York,Johnson City
9996,2547a700024,HYDRES06DEL02,34.000000,4.100000,Sandstorms,Low,0,25,KA01D0911,265.0,...,Petrol,Honda Jazz VX,21/03/2021,30/03/2021,15/04/2021,27/04/2021,01/05/2021,08/05/2021,San Jose,Johnson City
9997,c5c64a26123,VADRES19DEL01,22.000000,4.800000,Fog,Medium,1,33,KA01D0911,180.0,...,Diesel,Toyota Innova 25 VX (Diesel) 7 Seater,20/07/2021,29/07/2021,14/08/2021,26/08/2021,30/08/2021,06/09/2021,Birmingham,Johnson City
9998,57f78c2d0d0,BANGRES07DEL01,22.000000,4.300000,Cloudy,Jam,2,42,RJ42GA1977,187.0,...,Petrol,Maruti Swift AMT VVT VXI,07/03/2021,16/03/2021,01/04/2021,13/04/2021,17/04/2021,24/04/2021,San Jose,Johnson City
9999,57f78c2d0d1,KOCRES20DEL02,34.000000,4.900000,Fog,Medium,2,15,AP13X6669,158.0,...,Petrol,Toyota Etios VX,18/04/2021,27/04/2021,13/05/2021,25/05/2021,29/05/2021,05/06/2021,San Jose,Johnson City

In [14]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   order_id                  10000 non-null  object
 1   Delivery_person_ID        10000 non-null  object
 2   Delivery_person_Age       10000 non-null  float64
 3   Delivery_person_Ratings   10000 non-null  float64
 4   Weather                   10000 non-null  object
 5   Road_traffic_density      10000 non-null  object
 6   Vehicle_condition         10000 non-null  int64
 7   Time_taken                10000 non-null  int64
 8   Vehicle_no                10000 non-null  object
 9   Cost_of_the_Product       10000 non-null  float64
 10  Quantity                  10000 non-null  float64
 11  fuel                      10000 non-null  object
 12  name of vehicle           10000 non-null  object
 13  SENDERS_DATE              10000 non-null  object
 14  LOADING_DATE              10000 non-null  object
 15  DISCHARGE_DATE            10000 non-null  object
 16  DELIVERED_DATE            10000 non-null  object
 17  RECEIVERS_DATE            10000 non-null  object
 18  PREDICTED_DELIVERED_DATE  10000 non-null  object
 19  PLACE_OF_SENDERS          10000 non-null  object
 20  PLACE_OF_RECEIVERS 1      10000 non-null  object
dtypes: float64(4), int64(2), object(15)
memory usage: 1.6+ MB

In [15]:
#Làm tròn tuổi (tuổi ko thể là số lẻ)
df3.Delivery_person_Age = df3.Delivery_person_Age.round()
df3.Delivery_person_Ratings = df3.Delivery_person_Ratings.round(2)

In [16]:
df3

,order_id,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Weather,Road_traffic_density,Vehicle_condition,Time_taken,Vehicle_no,Cost_of_the_Product,...,fuel,name of vehicle,SENDERS_DATE,LOADING_DATE,DISCHARGE_DATE,DELIVERED_DATE,RECEIVERS_DATE,PREDICTED_DELIVERED_DATE,PLACE_OF_SENDERS,PLACE_OF_RECEIVERS 1
0,d792cb16214,COIMBRES18DEL02,30.0,4.63,Stormy,Low,1,19,KA590408,177.0,...,Diesel,Maruti Swift Dzire VDI,18/05/2021,27/05/2021,12/06/2021,24/06/2021,28/06/2021,05/07/2021,New York,Chincoteague Island
1,0d7a144bdd3,VADRES14DEL01,27.0,4.60,Windy,Low,2,14,TN30BC5917,216.0,...,Diesel,Skoda Rapid 15 TDI Ambition,18/05/2021,27/05/2021,12/06/2021,24/06/2021,28/06/2021,05/07/2021,San Jose,Exmore
2,57da4fc703e,AGRRES04DEL03,34.0,4.90,Cloudy,Low,1,27,TN22AR2748,183.0,...,Petrol,Honda City 20172020 EXi,11/04/2021,20/04/2021,06/05/2021,18/05/2021,22/05/2021,29/05/2021,Birmingham,Lawrenceville
3,1b038114c75,BHPRES08DEL02,23.0,5.00,Sandstorms,Medium,2,21,TN28AQ0781,176.0,...,Diesel,Hyundai i20 Sportz Diesel,19/05/2021,28/05/2021,13/06/2021,25/06/2021,29/06/2021,06/07/2021,San Jose,Midlothian
4,bb4e55b4fd9,MYSRES11DEL01,39.0,4.80,Stormy,Medium,0,49,TN68F1722,184.0,...,Petrol,Maruti Swift VXI BSIII,18/05/2021,27/05/2021,12/06/2021,24/06/2021,28/06/2021,05/07/2021,Boston,Virginia Beach
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,960387648,COIMBRES14DEL01,23.0,5.00,Sunny,Low,1,23,KA01D0911,272.0,...,Diesel,Maruti Baleno Alpha 13,18/05/2021,27/05/2021,12/06/2021,24/06/2021,28/06/2021,05/07/2021,New York,Johnson City
9996,2547a700024,HYDRES06DEL02,34.0,4.10,Sandstorms,Low,0,25,KA01D0911,265.0,...,Petrol,Honda Jazz VX,21/03/2021,30/03/2021,15/04/2021,27/04/2021,01/05/2021,08/05/2021,San Jose,Johnson City
9997,c5c64a26123,VADRES19DEL01,22.0,4.80,Fog,Medium,1,33,KA01D0911,180.0,...,Diesel,Toyota Innova 25 VX (Diesel) 7 Seater,20/07/2021,29/07/2021,14/08/2021,26/08/2021,30/08/2021,06/09/2021,Birmingham,Johnson City
9998,57f78c2d0d0,BANGRES07DEL01,22.0,4.30,Cloudy,Jam,2,42,RJ42GA1977,187.0,...,Petrol,Maruti Swift AMT VVT VXI,07/03/2021,16/03/2021,01/04/2021,13/04/2021,17/04/2021,24/04/2021,San Jose,Johnson City
9999,57f78c2d0d1,KOCRES20DEL02,34.0,4.90,Fog,Medium,2,15,AP13X6669,158.0,...,Petrol,Toyota Etios VX,18/04/2021,27/04/2021,13/05/2021,25/05/2021,29/05/2021,05/06/2021,San Jose,Johnson City

In [17]:
df3.isna().sum()

order_id                    0
Delivery_person_ID          0
Delivery_person_Age         0
Delivery_person_Ratings     0
Weather                     0
Road_traffic_density        0
Vehicle_condition           0
Time_taken                  0
Vehicle_no                  0
Cost_of_the_Product         0
Quantity                    0
fuel                        0
name of vehicle             0
SENDERS_DATE                0
LOADING_DATE                0
DISCHARGE_DATE              0
DELIVERED_DATE              0
RECEIVERS_DATE              0
PREDICTED_DELIVERED_DATE    0
PLACE_OF_SENDERS            0
PLACE_OF_RECEIVERS 1        0
dtype: int64

In [18]:
df3.to_csv(r"D:\Filechuan\New\Deliveryorder.csv", index=False)