In [19]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

Read Data

In [20]:
data = pd.read_csv("D:\Filechuan\dataset\VehicleInformation.csv")
df = data.copy()
df

,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage (kmpl),engine (CC),EngineSizeSimple,max_power(bhp),seats,Driver_Name,Driver_MobileNo,torque,LicenceStatus
0,450000,145500,Diesel,Individual,Manual,First,23.40,1248,1400,74.00,5,RAMESH,7082423013,190Nm@ 2000rpm,Licensed
1,370000,120000,Diesel,Individual,Manual,Second,21.14,1498,1400,103.52,5,RAMESH,7082423014,250Nm@ 1500-2500rpm,SORN
2,158000,140000,Petrol,Individual,Manual,Third,17.70,1497,1400,78.00,5,GIRI,7082423015,"12.7@ 2,700(kgm@ rpm)",Licensed
3,225000,127000,Diesel,Individual,Manual,First,23.00,1396,1400,90.00,5,RAVI,7082423016,22.4 kgm at 1750-2750rpm,SORN
4,130000,120000,Petrol,Individual,Manual,First,16.10,1298,1400,88.20,5,TAMIL,7082423017,"11.5@ 4,500(kgm@ rpm)",Licensed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10007,625000,25538,Petrol,Trustmark Dealer,Manual,First,16.78,1496,800,88.73,5,thippaswamy nayak K T,9036703936,132Nm@ 3000rpm,SORN
10008,550000,56494,Petrol,Trustmark Dealer,Manual,First,18.20,1199,600,88.70,5,KUMMARI SAYAPPA,9502232573,110Nm@ 4800rpm,Licensed
10009,750000,79328,Diesel,Trustmark Dealer,Manual,Second,12.99,2494,600,100.60,7,Sankar M,9486574971,200Nm@ 1200-3600rpm,SORN
10010,650000,5621,Petrol,Trustmark Dealer,Automatic,First,22.00,1197,700,81.80,5,Iranna R Umachagi,8088718846,113Nm@ 4200rpm,Licensed
10011,625000,25538,Petrol,Trustmark Dealer,Manual,First,16.78,1496,800,88.73,5,thippaswamy nayak K T,9036703936,132Nm@ 3000rpm,SORN

In [21]:
data1 = pd.read_csv("D:\Filechuan\dataset\VehicleType_USA.csv")
df1 = data1.copy()
df1

,vehicle_no,vehicleType,Current_Location,GenModel,name,year
0,KA590408,Mahindra LCV 1MT,New York,ABARTH 500,Maruti Swift Dzire VDI,2014
1,TN30BC5917,Mahindra LCV 1MT,San Jose,ABARTH 595,Skoda Rapid 1.5 TDI Ambition,2014
2,TN22AR2748,Mahindra LCV 1MT,Birmingham,ABARTH 595,Honda City 2017-2020 EXi,2006
3,TN28AQ0781,Mahindra LCV 1MT,San Jose,ABARTH 595,Hyundai i20 Sportz Diesel,2010
4,TN68F1722,Mahindra LCV 1MT,Boston,ABARTH 595,Maruti Swift VXI BSIII,2007
...,...,...,...,...,...,...
9995,KA01D0911,40 FT Flat Bed Multi-Axle 27MT - Trailer,San Jose,JEEP WRANGLER,Maruti Baleno Alpha 1.3,2018
9996,KA01D0911,40 FT 3XL Trailer 35MT,New York,JEEP WRANGLER,Honda Jazz VX,2016
9997,KA01D0911,40 FT 3XL Trailer 35MT,San Jose,JEEP WRANGLER,Toyota Innova 2.5 VX (Diesel) 7 Seater,2013
9998,RJ42GA1977,40 FT 3XL Trailer 35MT,Birmingham,JEEP WRANGLER,Maruti Swift AMT VVT VXI,2019
9999,AP13X6669,40 FT Flat Bed Double-Axle 21MT - Trailer,San Jose,JEEP WRANGLER,Toyota Etios VX,2017

Data Processing

In [22]:
df2= pd.concat([df1, df], axis=1)
df2

,vehicle_no,vehicleType,Current_Location,GenModel,name,year,selling_price,km_driven,fuel,seller_type,...,owner,mileage (kmpl),engine (CC),EngineSizeSimple,max_power(bhp),seats,Driver_Name,Driver_MobileNo,torque,LicenceStatus
0,KA590408,Mahindra LCV 1MT,New York,ABARTH 500,Maruti Swift Dzire VDI,2014.0,450000,145500,Diesel,Individual,...,First,23.40,1248,1400,74.00,5,RAMESH,7082423013,190Nm@ 2000rpm,Licensed
1,TN30BC5917,Mahindra LCV 1MT,San Jose,ABARTH 595,Skoda Rapid 1.5 TDI Ambition,2014.0,370000,120000,Diesel,Individual,...,Second,21.14,1498,1400,103.52,5,RAMESH,7082423014,250Nm@ 1500-2500rpm,SORN
2,TN22AR2748,Mahindra LCV 1MT,Birmingham,ABARTH 595,Honda City 2017-2020 EXi,2006.0,158000,140000,Petrol,Individual,...,Third,17.70,1497,1400,78.00,5,GIRI,7082423015,"12.7@ 2,700(kgm@ rpm)",Licensed
3,TN28AQ0781,Mahindra LCV 1MT,San Jose,ABARTH 595,Hyundai i20 Sportz Diesel,2010.0,225000,127000,Diesel,Individual,...,First,23.00,1396,1400,90.00,5,RAVI,7082423016,22.4 kgm at 1750-2750rpm,SORN
4,TN68F1722,Mahindra LCV 1MT,Boston,ABARTH 595,Maruti Swift VXI BSIII,2007.0,130000,120000,Petrol,Individual,...,First,16.10,1298,1400,88.20,5,TAMIL,7082423017,"11.5@ 4,500(kgm@ rpm)",Licensed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10007,NaN,NaN,NaN,NaN,NaN,NaN,625000,25538,Petrol,Trustmark Dealer,...,First,16.78,1496,800,88.73,5,thippaswamy nayak K T,9036703936,132Nm@ 3000rpm,SORN
10008,NaN,NaN,NaN,NaN,NaN,NaN,550000,56494,Petrol,Trustmark Dealer,...,First,18.20,1199,600,88.70,5,KUMMARI SAYAPPA,9502232573,110Nm@ 4800rpm,Licensed
10009,NaN,NaN,NaN,NaN,NaN,NaN,750000,79328,Diesel,Trustmark Dealer,...,Second,12.99,2494,600,100.60,7,Sankar M,9486574971,200Nm@ 1200-3600rpm,SORN
10010,NaN,NaN,NaN,NaN,NaN,NaN,650000,5621,Petrol,Trustmark Dealer,...,First,22.00,1197,700,81.80,5,Iranna R Umachagi,8088718846,113Nm@ 4200rpm,Licensed
10011,NaN,NaN,NaN,NaN,NaN,NaN,625000,25538,Petrol,Trustmark Dealer,...,First,16.78,1496,800,88.73,5,thippaswamy nayak K T,9036703936,132Nm@ 3000rpm,SORN

In [23]:
df2.isna().sum()

vehicle_no           12
vehicleType          12
Current_Location     12
GenModel             28
name                 15
year                 12
selling_price         0
km_driven             0
fuel                  0
seller_type           0
transmission          0
owner                 0
mileage (kmpl)        0
engine (CC)           0
EngineSizeSimple      0
max_power(bhp)        0
seats                 0
Driver_Name           0
Driver_MobileNo       0
torque              269
LicenceStatus         0
dtype: int64

In [24]:
df2.drop(["torque"],axis=1,inplace=True)
df2 = df2.dropna()
df2

,vehicle_no,vehicleType,Current_Location,GenModel,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage (kmpl),engine (CC),EngineSizeSimple,max_power(bhp),seats,Driver_Name,Driver_MobileNo,LicenceStatus
0,KA590408,Mahindra LCV 1MT,New York,ABARTH 500,Maruti Swift Dzire VDI,2014.0,450000,145500,Diesel,Individual,Manual,First,23.40,1248,1400,74.00,5,RAMESH,7082423013,Licensed
1,TN30BC5917,Mahindra LCV 1MT,San Jose,ABARTH 595,Skoda Rapid 1.5 TDI Ambition,2014.0,370000,120000,Diesel,Individual,Manual,Second,21.14,1498,1400,103.52,5,RAMESH,7082423014,SORN
2,TN22AR2748,Mahindra LCV 1MT,Birmingham,ABARTH 595,Honda City 2017-2020 EXi,2006.0,158000,140000,Petrol,Individual,Manual,Third,17.70,1497,1400,78.00,5,GIRI,7082423015,Licensed
3,TN28AQ0781,Mahindra LCV 1MT,San Jose,ABARTH 595,Hyundai i20 Sportz Diesel,2010.0,225000,127000,Diesel,Individual,Manual,First,23.00,1396,1400,90.00,5,RAVI,7082423016,SORN
4,TN68F1722,Mahindra LCV 1MT,Boston,ABARTH 595,Maruti Swift VXI BSIII,2007.0,130000,120000,Petrol,Individual,Manual,First,16.10,1298,1400,88.20,5,TAMIL,7082423017,Licensed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,KA01D0911,40 FT Flat Bed Multi-Axle 27MT - Trailer,San Jose,JEEP WRANGLER,Maruti Baleno Alpha 1.3,2018.0,740000,38817,Diesel,Dealer,Manual,First,27.39,1248,300,74.00,5,RAMULU K,9704418284,SORN
9996,KA01D0911,40 FT 3XL Trailer 35MT,New York,JEEP WRANGLER,Honda Jazz VX,2016.0,550000,56494,Petrol,Trustmark Dealer,Manual,First,18.20,1199,600,88.70,5,KUMMARI SAYAPPA,9502232573,Licensed
9997,KA01D0911,40 FT 3XL Trailer 35MT,San Jose,JEEP WRANGLER,Toyota Innova 2.5 VX (Diesel) 7 Seater,2013.0,750000,79328,Diesel,Trustmark Dealer,Manual,Second,12.99,2494,600,100.60,7,Sankar M,9486574971,SORN
9998,RJ42GA1977,40 FT 3XL Trailer 35MT,Birmingham,JEEP WRANGLER,Maruti Swift AMT VVT VXI,2019.0,650000,5621,Petrol,Trustmark Dealer,Automatic,First,22.00,1197,700,81.80,5,Iranna R Umachagi,8088718846,Licensed
9999,AP13X6669,40 FT Flat Bed Double-Axle 21MT - Trailer,San Jose,JEEP WRANGLER,Toyota Etios VX,2017.0,625000,25538,Petrol,Trustmark Dealer,Manual,First,16.78,1496,800,88.73,5,thippaswamy nayak K T,9036703936,SORN

In [25]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9982 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   vehicle_no        9982 non-null   object
 1   vehicleType       9982 non-null   object
 2   Current_Location  9982 non-null   object
 3   GenModel          9982 non-null   object
 4   name              9982 non-null   object
 5   year              9982 non-null   float64
 6   selling_price     9982 non-null   int64
 7   km_driven         9982 non-null   int64
 8   fuel              9982 non-null   object
 9   seller_type       9982 non-null   object
 10  transmission      9982 non-null   object
 11  owner             9982 non-null   object
 12  mileage (kmpl)    9982 non-null   float64
 13  engine (CC)       9982 non-null   int64
 14  EngineSizeSimple  9982 non-null   object
 15  max_power(bhp)    9982 non-null   float64
 16  seats             9982 non-null   int64
 17  Driver_Name       9982 non-null   object
 18  Driver_MobileNo   9982 non-null   int64
 19  LicenceStatus     9982 non-null   object
dtypes: float64(3), int64(5), object(12)
memory usage: 1.6+ MB

In [26]:
df2['max_power(bhp)']=df2['max_power(bhp)'].astype('float')

C:\Users\VNPT10\AppData\Local\Temp\ipykernel_13584\754359579.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['max_power(bhp)']=df2['max_power(bhp)'].astype('float')

In [27]:
df2.to_csv(r"D:\Filechuan\New\Vehicle.csv", index=False)